body {
    margin: 0;
    padding: 0;

    font-family: 'PT Sans', Arial, sans-serif;
    color: #000000;
    text-transform: uppercase;

    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.main-navigation {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    background-color: #ffffff;
    min-height: 56px;
    box-sizing: border-box;
    padding-top: 17px;
    position: relative;
}

.navigation-list {
    list-style: none;
}

.navigation-list a {
    line-height: 26px;
    color: #000000;
}

.navigation-list a:hover,
.navigation-list a:focus {
    color: #81b3d2;
}

.navigation-list a:active {
    color: #cacaca;
}

.item-active a {
    color: #766357;
}

.hello {
    background-image: url(../img/background-photo.jpg);
    background-position: 0 -55px;
    background-repeat: no-repeat;

    background-color: darkslategray;
    min-height: 510px;
    box-sizing: border-box;
    padding-top: 76px;
    text-align: center;

    margin-bottom: 60px;
}

.intro-sedona {
    margin-left: 5px;
}

.attract {
    font-size: 21px;
    line-height: 26px;
    letter-spacing: 0.4px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
}

.reasons {
    margin-bottom: 25px;
}

.tender {
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.1px;
    font-weight: 400;
    text-align: center;
    margin: 0;

    margin-top: -4px;
    padding-bottom: 60px;
}

.interest h2 {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 22px;
}

.search-instruction {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
    margin-top: 0;
    margin-bottom: 45px;
}

.search-hotel-button {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;

    background-color: #766357;

    width: 570px;
    min-height: 87px;
    box-sizing: border-box;
    padding-top: 32px;
}

.search-hotel-button:hover,
.search-hotel-button:focus {
    background-color: #604e43;
}

.search-hotel-button:active {
    background-color: #503e33;
    color: #857871;
}

.hashtag {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
}

.footer-social-list {
    display: flex;
    justify-content: space-between;
    width: 151px;
    padding: 0;
    margin-top: 16px;
    list-style: none;
}

.footer-social-list li {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 46px;
    height: 48px;
    background-color: #81b3d2;
    text-align: center;
}

.footer-social-list a {
    padding-top: 5px;
}

.footer-social-list li:hover,
.footer-social-list li:focus {
    background-color: #669ec0;
}

.footer-social-list li:active {
    opacity: 0.5;
    background-color: #5496bd;
}

.footer-copyright p {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;

    margin: 0;
    display: inline-block;
    position: absolute;
    top: 8px;
    left: 13px;
}

.catalog-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.catalog-item-title {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
}

.catalog-item-title:hover,
.catalog-item-title:focus {
    color: #81b3d2;
}

.catalog-item-title:active {
    color: #cacaca;
}

.catalog-category,
.catalog-price {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #333333;
    
    width: 110px;
    height: 27px;
}

.catalog-category {
    margin-left: -2px;
    margin-right: 3px;
}

.wrapper a {
    margin-top: 0;
    margin-left: -1px;
}

.detail-button,
.book-button {
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    color: #ffffff;

    width: 110px;
    height: 27px;

    text-align: center;
    box-sizing: border-box;
    padding-top: 5px;
    margin-bottom: -4px;
}

.book-button {
    width: 142px;
}

.detail-button {
    margin-left: -2px;
    margin-right: 4px;

    background-color: #81b3d2;
}

.book-button {
    background-color: #766357;
}

.detail-button:hover,
.detail-button:focus {
    background-color: #669ec0;
}

.book-button:hover,
.book-button:focus {
    background-color: #604e43;
}

.detail-button:active {
    color: #94b9d2;
    background-color: #5496bd;
}

.book-button:active {
    color: #928a85;
    background-color: #503e33;
}

.rating-number {
    width: 110px;
    height: 27px;

    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #666666;
    background-color: #f2f2f2;
    text-align: center;
    box-sizing: border-box;
    padding-top: 5px;
    margin-left: auto;
}

.rating-stars {
    display: flex;
    justify-content: flex-end;
    margin-bottom: auto;
    order: -1;
    list-style: none;
}

.rating-stars li {
    padding-left: 4px;
}

.search-form {
    animation-name: crawled;
    animation-duration:1s ;

    width: 570px;
    min-height: 395px;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.30);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.30);
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.30);

    position: absolute;
    top: 263px;
    background-color: #ffffff;

    display: none;
}

@keyframes crawled {
    0% {
      transform: translateY(0px);
    }
  
    50% {
      transform: translateY(5px);
    }
  }

.search-form p {
    font-size: 14px;
    font-weight: 700;

    margin: 0;
    padding: 0;
}

.calc-wrapper p {
    margin-bottom: 2px;
}

.search-form-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    padding: 55px;
}

.date-wrapper input {
    width: 345px;
    height: 38px;
    border: 0;
    background-color: #f2f2f2;
    font-family: inherit;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: auto;
    box-sizing: border-box;
    padding-top: 0;
    padding-left: 10px;
    cursor: pointer;
}

.date-wrapper input:hover {
    background-color: #ebebeb;
}

.date-wrapper input:active,
.date-wrapper input:focus {
    border: 2px solid #e5e5e5;
    background-color: #ffffff;
}

.date-wrapper input[type="text"]::-webkit-input-placeholder {
    color: #000000;
} 
.date-wrapper input[type="text"]::-moz-placeholder {
    color: #000000;
}

.date-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 105px;
}

.date-wrapper p {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.date-wrapper label {
    padding-top: 10px;
    padding-left: 3px;
}

.calendar-btn {
    position: absolute;
    border: 0;
    top: 6px;
    right: 10px;
    padding: 0;
    margin: 0;
    background: transparent;
}

.calendar-btn:hover path,
.calendar-btn:focus path {
    fill: #000000;
}

.calendar-btn:active path {
    fill: #81b3d2;
}

.btn-minus-svg {
    padding-bottom: 3px;
}

.btn-plus-svg {
    box-sizing: border-box;
    padding-top: 3px;
}

.calc-wrapper {
    display: flex;
    width: 100%;

    padding-bottom: 25px;
}

.calc-wrapper input {
    width: 38px;
    height: 38px;
    border: 0;
    box-sizing: border-box;

    padding-top: 1px;
    padding-left: 13px;

    background-color: #f2f2f2;
    margin-left: -4px;
    margin-right: -4px;

    font-weight: 700;
}

.calc-wrapper p {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calc-wrapper p:nth-child(2) {
    margin-left: auto;
}

.calc-wrapper p:first-child label { 
    padding-right: 44px;
}
.calc-wrapper p:nth-child(2) label {
    padding-right: 25px;
}

.calc-btn {
    fill: #a9a9a9;
    display: flex;
    justify-content: center;
    border: 0;
    width: 43px;
    height: 38px;
    padding: 0;
    background-color: #f2f2f2;
}

.calc-btn:hover svg,
.calc-btn:focus svg {
    fill: #000000;
}

.calc-btn:active svg {
    fill: #81b3d2;
}

.search-button {
    width: 100%;
    height: 58px;

    padding: 0;
    border: 0;

    margin-bottom: 2px;

    font-size: 21px;
    line-height: 26px;

    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff;
    background-color: #81b3d2;
}

.search-button:hover,
.search-button:focus {
    background-color: #669ec0;
}

.search-button:active {
    opacity: 0.3;
    background-color: #5496bd;
}

.container {
    width: 1200px;
    margin: 0 auto;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);

    position: relative;
}                        

.navigation-container {
    display: flex;

    width: 1200px;
    margin: 0 auto;
}

.navigation-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding-left: 71px;
    padding-right: 71px;

    list-style: none;
}

.navigation-item {
    width: 240px;
    margin-top: -2px;
}
  
.navigation-item:nth-child(n+3){
    text-align:right;
}
  
.navigation-item:nth-child(2){
    margin-right: 89px;
}
  
.navigation-item:nth-child(-n+2){
    text-align: left;
}

.navigation-item:nth-child(3) {
    letter-spacing: 0.4px;
}

.navigation-column-left .navigation-item {
    text-align: left;
}

.navigation-column-right .navigation-item {
    text-align: right;
}

.navigation-column-right .navigation-item:first-child {
    padding-right: 4px;
}

.main-header-logo {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -69px;
}

.main-footer-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 120px;
    box-sizing: border-box;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 8px;
    padding-top: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    
}

.internal-page-footer .main-footer-wrapper {
    padding-bottom: 6px;
}

.interest {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 28px;

    position: relative;
}

.catalog-item {
    display: flex;

    box-sizing: border-box;
    padding-left: 71px; 
    padding-right: 71px;
    min-height: 152px;

    border-top: 1px solid #e5e5e5;
}

.catalog-item:nth-child(odd),
.catalog-item:nth-child(even) {
    margin-top: -2px;
} 

.catalog-item:nth-child(3) {
    border-bottom: 1px solid #e5e5e5;
}

.catalog-item-wrapper {
    display: flex;

    box-sizing: border-box;
    padding-top: 27px;
    padding-bottom: 30px;
    width: 450px;
}

.catalog-item-wrapper .wrapper {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;

    box-sizing: border-box;
    padding-left: 34px;
}

.rating-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: auto;

    box-sizing: border-box;
    padding: 31px 0;
}

.footer-hashtag {
    margin-top: 0;
    margin-right: 80px;
    margin-left: 10px;
}

.footer-hashtag,
.footer-copyright {
    min-width: 240px;
}

.footer-copyright {
    position: relative;
}

.footer-copyright a {
    display: flex;
    justify-content: flex-end;
    margin-right: 31px;
}

.footer-copyright:hover path,
.footer-copyright:focus path {
    fill: #81b3d2;
}

.footer-copyright:active path {
    fill: #bdbbbc;
}

.footer-social {
    display: flex;
    justify-content: center;
    min-width: 400px;
    margin-right: 91px;
}

.catalog-filter {
    height: 217px;
    background-image: url(../img/filter-background.jpg);
    background-position: 50% 15%;
    background-repeat: no-repeat;
    background-color: darkslategray;
}

.filter-wrapper {
    display: flex;

    box-sizing: border-box;
    padding-left: 71px;
    padding-right: 71px;
    padding-top: 28px;
}

.filter-infrastructure {
    min-width: 255px;
}

.filter-housing {
    min-width: 255px;
}

.filter-theme {
    display: block;
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;

    color: #ffffff;

    padding-bottom: 19px;
}

.filter-theme:first-child {
    letter-spacing: 0.4px;
}

.filter-housing .filter-theme {
    letter-spacing: -0.1px;
}

.filter-infrastructure-list,
.filter-housing-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.filter-infrastructure-item,
.filter-housing-item {
    font-family: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;

    color: #ffffff;

    padding-bottom: 14px;
}

.filter-label {
    display: inline-block;
    width: 100px;
    padding: 5px 0;
    position: relative;
    text-align: left;
    box-sizing: border-box;
    padding-left: 41px; 
    cursor: pointer;
}

.filter-label::after {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(../img/svg-sedona/checkbox-off.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    position: absolute;
    top: 5px;
    left: 0px;
    cursor: pointer;
}

.filter-checkbox:checked + .filter-label::after {
    width: 28px;
    height: 28px;
    background-image: url(../img/svg-sedona/checkbox-on.svg);
    top: 2px;
}

.filter-checkbox:disabled + .filter-label::after{
    background-image: url(../img/svg-sedona/checkbox-off-disabled.svg);
}

.filter-checkbox:checked:disabled + .filter-label::after {
    background-image: url(../img/svg-sedona/checkbox-on-disabled.svg);
}

.filter-checkbox {
    display: none;
}
  
.catalog-sort {
    box-sizing: border-box;
    padding-left: 71px;
    padding-right: 71px;

    height: 86px;
}

.sort-wrapper {
    display: flex;
    align-items: baseline;
}

.sort-list,
.up-down-list {
    display: flex;
    align-items: baseline;

    margin: 0;
    padding: 0;
    list-style: none;
}

.sort-found {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;

    padding-top: 30px;
    padding-right: 48px;
}

.sort-type,
.sort-item {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
}

.sort-type {
    padding-right: 40px;
}

.sort-list .sort-item:first-child {
    padding-right: 32px;
}

.sort-list .sort-item:nth-child(2) {
    padding-right: 34px;
}

.up-down-list {
    margin-left: auto;
    margin-right: -6px;
}

.sort-item a {
    color: #b2b2b2;
    border-bottom: 1px dotted #81b3d2;
    line-height: 18px;
}

.hover-sort-item a{
    color: #81b3d2;

    border-bottom: none;
}

.sort-item a:hover,
.sort-item a:focus {
    color: #81b3d2;
}

.sort-item a:active {
    color: #000000;
    border: none;
}

.up-down-btn {
    border: 0;
}

.up-down-btn path {
    fill: #b2b2b2;
}

.active-btn path {
    fill: #81b3d2;
}

.up-down-btn:hover path,
.up-down-btn:focus path {
    fill: #000000;
}

.up-down-btn:active path {
    fill: #81b3d2;
}

.filter-range {
    color: #ffffff;
    text-transform: uppercase;

    margin-left: 231px;
}
  
.filter-range-title {
    margin-bottom: 9px;
  
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
}
  
.price-controls {
    position: relative;
    
    width: 311px;
    height: 34px;
    margin-bottom: 20px;
    
    font-size: 0;
  
    border: 2px solid #ffffff;
    border-radius: 2px;
}
  
.price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
  
    width: 2px;
    height: 22px;
  
    background: #ffffff;
    transform: translate(-50%, -50%);
}
  
.price-controls label {
    display: inline-block;
  
    font-size: 14px;
    line-height: 38px;
    vertical-align: top;
  
    cursor: pointer;
}
  
.price-controls .min-price,
.price-controls .max-price {
    width: 91px;
    padding-left: 63px;
}

.price-controls .max-price {
    padding-left: 56px; 
}
  
.price-controls input {
    width: 50px;
    margin: 0;
  
    color: inherit;
    font: inherit;
  
    background: none;
    border: none;
}
  
.range-controls {
    position: relative;
  
    margin-bottom: 32px;
}
  
.range-controls .scale {
    height: 2px;
  
    background: rgba(255, 255, 255, 0.3);
}
  
.range-controls .bar {
    width: 80%;
    height: 2px;
  
    background: #ffffff;
}
  
.range-toggle {
    position: absolute;
    top: -9px;
    
    width: 4px;
    height: 4px;
  
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}
  
.range-toggle:hover {
    transform: scale(1.2); 
}
  
.range-toggle-min {
    left: 0;
}
  
.range-toggle-max {
    left: 80%;
}
  
.btn-transparent {
    display: block;
    margin-left: 84px;
    padding: 6px 33px;
  
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
  
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}
  
.btn-transparent:hover {
    color: #000000;
  
    background: #ffffff;
}

.main-reasons-list {
    display: flex;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;
    list-style: none;

    margin-top: -10px;
}

.secondary-reasons-list {
    display: flex;

    margin: 0;
    padding: 0;
    list-style: none;
}

.secondary-reasons-item {
    width: 400px;
    height: 330px;
}

.secondary-reasons-item-wrapper {
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
}

.secondary-reasons-item-wrapper svg {
    padding-top: 60px;
    padding-bottom: 27px;
    padding-left: 132px;
}

.secondary-reasons-item:nth-child(3) .secondary-reasons-item-wrapper svg {
    padding-top: 55px;
    padding-left: 137px;
}

.main-part-wrapper {
    display: flex;
    justify-content: space-between;
}

.main-reasons-item-wrapper {
    display: flex;
    flex-direction: column;

    width: 400px;
    height: 256px;

    background-color: #81b3d2;
    color: #ffffff;
}

.main-reasons-item:nth-child(2) .main-part-wrapper img {
    order: -1;
}

.main-reasons-item-wrapper h3 {
    margin: 0;
    padding: 0;

    font-size: 21px;
    line-height: 21px;

    text-align: center;

    padding-top: 48px;
}

.main-reasons-item-wrapper p {
    margin: 0;

    font-size: 14px;
    line-height: 21px;

    text-align: center;

    padding-top: 22px;
}

.main-reasons-item-wrapper div {
    padding-left: 30px;
    padding-right: 30px;
}

.secondary-reasons-title {
    margin: 0;
    
    font-weight: 700;
    font-size: 21px;
    line-height: 21px;

    text-align: center;
}

.secondary-reasons-text {
    margin: 0;
    
    padding-top: 23px;

    font-size: 14px;
    line-height: 21px;

    text-align: center;
}

.hello-polygon {
    position: relative;
    bottom: -19.5px;
}

.footer-reasons-item-wrapper {
    background-color: #eeeeee;
    color: #000000;
}

.map {
    display: inline-block;
    height: 592px;
}

.main-footer {
    position: absolute;
    right: 0;
    bottom: -1px;
    opacity: 0.9;
}

.modal-show {
    display: flex;
}