body {
    margin: 0;
    padding: 0;

    font-family: 'PT Sans', Arial, sans-serif;
    color: #000000;
    text-transform: uppercase;

    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.main-navigation {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    background-color: #ffffff;
    min-height: 56px;
    box-sizing: border-box;
    padding-top: 17px;
    position: relative;
}

.navigation-list {
    list-style: none;
}

.navigation-list a {
    color: #000000;
}

.navigation-list a:hover,
.navigation-list a:focus {
    color: #81b3d2;
}

.navigation-list a:active {
    color: #cacaca;
}

.navigation-list .item-active {
    color: #766357;
}

.hello {
    background-image: url(../img/background-photo.jpg);
    background-position: top center;
    background-repeat: no-repeat;

    background-color: darkslategray;
    min-height: 510px;
    box-sizing: border-box;
    padding-top: 76px;
    text-align: center;
}

.attract {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
}

.reasons p {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    text-align: center;
}

.interest h2 {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
}

.search-instruction {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;

}

.search-hotel-button {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;

    background-color: #766357;

}

.search-hotel-button:hover,
.search-hotel-button:focus {
    background-color: #604e43;
}

.search-hotel-button:active {
    background-color: #503e33;
}

.hashtag {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
}

.footer-social-list {
    display: flex;
    justify-content: space-between;
    width: 151px;
    padding: 0;
    list-style: none;
}

.footer-social-list li {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 46px;
    height: 48px;
    background-color: #81b3d2;
    text-align: center;
}

.footer-social-list li:hover,
.footer-social-list li:focus {
    background-color: #669ec0;
}

.footer-social-list li:active {
    opacity: 0.5;
    background-color: #5496bd;
}

.footer-copyright {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
}

.catalog-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.catalog-item-title {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
}

.catalog-item-title:hover,
.catalog-item-title:focus {
    color: #81b3d2;
}

.catalog-item-title:active {
    color: #cacaca;
}

.catalog-category,
.catalog-price {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #333333;
    
    width: 110px;
    height: 27px;
}

.catalog-category {
    margin-right: 6px;
}

.detail-button,
.book-button {
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    color: #ffffff;

    width: 110px;
    height: 27px;
}

.detail-button {
    margin-right: 6px;

    background-color: #81b3d2;
}

.book-button {
    background-color: #766357;
}

.detail-button:hover,
.detail-button:focus {
    background-color: #669ec0;
}

.book-button:hover,
.book-button:focus {
    background-color: #604e43;
}

.detail-button:active {
    color: #94b9d2;
    background-color: #5496bd;
}

.book-button:active {
    color: #928a85;
    background-color: #503e33;
}

.rating-number {
    width: 110px;
    height: 27px;

    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #666666;
    background-color: #f2f2f2;
}

.rating-stars {
    list-style: none;
}

.search-form {
    display: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
}                        

.navigation-container {
    display: flex;

    width: 1200px;
    margin: 0 auto;
}

.navigation-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 0 70px;

    list-style: none;
}

.navigation-item {
    width: 240px;
}

.navigation-item:nth-child(4n),
.navigation-item:nth-child(4n-1) {
    text-align: right;
}

.main-header-logo {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -69px;
}

.main-footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 120px;
    box-sizing: border-box;
    padding-left: 70px;
    padding-right: 70px;
}

.reasons {
    margin-bottom: 62px;
}

.interest {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-instruction {
    margin-bottom: 62px;
}

.search-hotel-button {
    width: 570px;
    min-height: 87px;
    box-sizing: border-box;
    padding-top: 32px;
}

.catalog-item {
    display: flex;

    box-sizing: border-box;
    padding-left: 70px; 
    padding-right: 70px;
    min-height: 152px;

    border-top: 1px solid #e5e5e5;
}

.catalog-item:nth-child(3) {
    border-bottom: 1px solid #e5e5e5;
}

.catalog-item-wrapper {
    display: flex;

    box-sizing: border-box;
    padding: 31px 0;
    width: 400px;
}

.catalog-item-wrapper .wrapper {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;

    box-sizing: border-box;
    padding-left: 30px;
}

.rating-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: auto;

    box-sizing: border-box;
    padding: 31px 0;

}





